@import '../../styles/variables.scss';
.custom-select{
    width: calc(100% - 10px);
    height: auto;
    margin: .5rem 0;
    svg{
        color: $pink;
    }
    &.MuiInput-underline::after{
        border-color: $primary-normal;
    }
}