@import '../../styles/variables.scss';

.navbar{
    background: $primary;
    padding: 10px 48px;
    display: grid;
    grid-template-columns: repeat(3, 20% 40% 40%);
    align-items: center;
    border: $marine-blue-900 solid 1px;

    a{
        text-decoration: none;
        cursor: pointer;
        color: $white;
        font-size: 18px;
        font-weight: $bold;

        &:hover{
            color: yellow;
        }
    }

    .navbar-links{
        display: flex;
        justify-content: space-around;
    }

    .right-nav{
        display: flex;
        justify-content: flex-end;
        
        input{
            padding: 12px 16px;
        }

        .btn-main{
            width: 177px;
            height: 48px;
            border-radius: 4px;
            color: $white;
            background: $marine-blue;
            font-size: $p-button;
            border: none;
            font-weight: $bold;
        }   

        button .secondary{

        }
    }
}