@import '../../styles/variables.scss';

.container{
    // Don't allow to use all Screen
    max-width: 1400px;
    // Create an auto margin
    width: 90%;
    // Center Content
    margin: 0 auto;
}


.footer-party{
    padding-top: 24px;
    background: $primary;
    color: $white;

    ul{
        list-style: none;
        padding: 0; 
    }

    .footer-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 48px;

        @media screen and (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
        }

        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .social-networks{
            grid-template-rows: repeat(3, 1fr);

            .social-title{
                grid-row: 1 / 2;
            }

            .social{
                grid-row: 2 / 3 ;
                
            }

            .icons-social-networks{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                justify-content: left;
            }
            
            
        }


        .footer-sections{
            display: grid;
            align-items: center;
            justify-content: center;
        }
        

        .footer-apps{
            display: grid;
            align-items: center;
            justify-content: center;
        }
    }

    .footer-sections{

        h4{
            text-align: center;
        }

        .service-list{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 8px;
            justify-items: center;

            li{
                &:hover{
                    cursor: pointer;
                    color:yellow;
                }
            }
        }

        
    }



    .icons-social-networks{
        margin-top: 14px;
    }

    .apps{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}



.rights{
    background: $primary;
    p{
        margin: 0;
        color: $white;
        text-align: center;
        padding: 24px;
    }
}