@import '../../styles/variables.scss';

.container{
    // Don't allow to use all Screen
    max-width: 1400px;
    // Create an auto margin
    width: 90%;
    // Center Content
    margin: 0 auto;
}

p{
    margin: 0;
}


.footer-party{
    padding-top: 24px;
    background: $primary;
    color: $white;

    ul{
        list-style: none;
        padding: 0; 
    }

    .footer-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 28px;
        row-gap: 14px;
       
        @media screen and (min-width: 1280px) {
            grid-template-columns: repeat(3, 1fr);
            align-items: start;
        }

        .social-networks{
            display: grid;
           
            @media screen and (min-width: 1280px) {
                grid-template-rows: repeat(2, 1fr);
                row-gap: 28px;
                align-items: start;
            }

            .social{
                margin-top: 12px;

                @media screen and (min-width: 1280px) {
                    margin: 0px;
                }

                .icons-social-networks{
                    display: flex;
                    margin-top: 12px;

                    @media screen and (min-width: 1280px) {
                        margin: 0px;
                        margin-top: 12px;
                    }
                
                    .item{
                        margin-right: 12px;
                    }
                    
                }
            }
        }

        .footer-sections{
            margin-top: 12px;

            @media screen and (min-width: 1280px) {
                margin: 0px;
            }

            .service-list{
                display: flex;
                li{
                    margin-right: 12px;
                }
            }
        }

        
        .footer-apps{

            display: none;

            @media screen and(min-width: 992px){
                display: grid;
            }
            
            .apps{
                display: grid;
                
                @media screen and(min-width: 992px){
                    display: flex;
                    margin-top: 12px;

                    img{
                        margin-right: 12px;
                    }
                }
            }
        }
    }

    .rights{
        p{
            margin: 0;
            color: $white;
            text-align: center;
            padding: 24px;
        }
    }
}
