@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  margin: 0;
  font-family: var(--default-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--default-font-family);
}
:root{
  --default-primary-color: linear-gradient(142.75deg, #ED5026 -2.2%, #F02748 50.89%, #F71694 107.64%);
  --default-primary-font-color:#2D2D41;
  --default-secondary-font-color:#9696A0;
  --default-primary-background-color:#FAFAFA;
  --default-secondary-background-color:#EAEAEC;
  --default-font-family:'Montserrat', sans-serif;
}