@import '../../styles//variables.scss';
.steps-layout{
    padding: 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-wrapper{
        background: transparent !important;
        width: 1116px;
        &.title{
            margin: 0;
            padding: 44px 0 20px 0;
            text-align: start;
        }
    }
}
.steps-content{
    width: calc( 774px + 318px + 24px);
}